@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#F4F7FA] text-[#152238] antialiased selection:bg-saffron-500 selection:text-white;
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
  }
}

/* Custom aerospace dark scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #041021;
}

::-webkit-scrollbar-thumb {
  background: #174EA6;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #F58220;
}
